<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="RAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
  </appSettings>
  <connectionStrings>
    <add name="RAD.Properties.Settings.MembershipDataBase" connectionString="Data Source=hescap19;Initial Catalog=RAD_Membership;User ID=raddbuser;Password=oeogr?6fmi;MultipleActiveResultSets=True" />
    <add name="RAD.Properties.Settings.ApplicationDataBase" connectionString="Data Source=hescrad03;Initial Catalog=FleetSystem;User ID=raddbuser;Password=hertz123*;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="App_Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <httpRuntime maxRequestLength="512000000" requestLengthDiskThreshold="1000000"/>
    <authentication mode="Forms">
      <forms name="EFSSAuth" slidingExpiration="true" loginUrl="~/login/" defaultUrl="~/"/>
    </authentication>
    <globalization culture="auto" uiCulture="auto"/>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <sessionState cookieName="EFSSSession" timeout="30"/>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="15121A83E4F5F84E5C54947BA686FF4D2566E13FAA833BE6802EA6834457EF44" validationKey="62978D139B81AFDFCE5FC00137EE97E721C25D3F14EAC59504EAE592F7D602D3F0837BE9A5ED12BF6A7F79FBF8A9BB2842E5D8C83FC15D6A6176CE85698E10E0"/>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages enableEventValidation="false" validateRequest="false">
      <controls>
        <!-- General -->
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="rad" namespace="RAD.Controls" assembly="RAD"/>
        <add tagPrefix="cc" namespace="APP.CustomControls" assembly="HEFS"/>
        <!-- Controls -->
        <add tagPrefix="uc" tagName="UCButtonCommand" src="~/App_UserControls/Controls/Commands/ButtonCommand.ascx"/>
        <add tagPrefix="uc" tagName="UCEmptyDataTemplate" src="~/App_UserControls/Controls/EmptyDataTemplate.ascx"/>
        <add tagPrefix="uc" tagName="UCNavigationPanel" src="~/App_UserControls/Controls/Panel/NavigationPanel.ascx"/>
        <add tagPrefix="uc" tagName="UCAccessDenied" src="~/App_UserControls/Controls/AccessDenied/AccessDenied.ascx"/>
        <add tagPrefix="uc" tagName="UCLoading" src="~/App_UserControls/Controls/Dialogs/Loading.ascx"/>
        <!-- Fleet -->
        <add tagPrefix="uc" tagName="UCFleetPanelColumns" src="~/App_UserControls/Fleet/PanelColumns/FleetPanelColumns.ascx"/>
        <add tagPrefix="uc" tagName="UCFleetDayReport" src="~/App_UserControls/Fleet/FleetDetails/DayReport/FleetDayReport.ascx"/>
        <add tagPrefix="uc" tagName="UCFleetMonthReport" src="~/App_UserControls/Fleet/FleetDetails/MonthReport/FleetMonthReport.ascx"/>
        <add tagPrefix="uc" tagName="TransactionsDay" src="~/App_UserControls/Fleet/TransactionsDay.ascx"/>
        <add tagPrefix="uc" tagName="TransactionsYear" src="~/App_UserControls/Fleet/TransactionsYear.ascx"/>
        <add tagPrefix="uc" tagName="ListViewDay" src="~/App_UserControls/Fleet/ListViewDay/ListViewDay.ascx"/>
        <add tagPrefix="uc" tagName="ListViewDayManufacturer" src="~/App_UserControls/Fleet/ListViewDayManufacturer/ListViewDayManufacturer.ascx"/>
        <add tagPrefix="uc" tagName="ListViewYear" src="~/App_UserControls/Fleet/ListViewYear/ListViewYear.ascx"/>
        <add tagPrefix="uc" tagName="ListViewYearManufacturer" src="~/App_UserControls/Fleet/ListViewYearManufacturer/ListViewYearManufacturer.ascx"/>
        <!-- Fleet : Reports [Cash Targets] -->
        <add tagPrefix="uc" tagName="UCFleetCashForm" src="~/App_UserControls/Reports/FleetCashForm.ascx"/>

        <!-- Invoices -->
        <add tagPrefix="uc" tagName="UCInvoicesForm" src="~/App_UserControls/Invoices/InvoicesForm.ascx"/>
        <add tagPrefix="uc" tagName="UCSearchEngine" src="~/App_UserControls/Invoices/Search/SearchEngine.ascx"/>
        <add tagPrefix="uc" tagName="UCSalesReport" src="~/App_UserControls/Invoices/SalesReport/SalesReport.ascx"/>
        <add tagPrefix="uc" tagName="UCListViewCountriesSales" src="~/App_UserControls/Invoices/ListViews/Countries/ListViewSalesCountries.ascx"/>
        <add tagPrefix="uc" tagName="UCBuyersList" src="~/App_UserControls/Invoices/ListViews/Vendors/ListViewSalesBuyers.ascx"/>
        <add tagPrefix="uc" tagName="UCInvoicesList" src="~/App_UserControls/Invoices/ListViews/Documents/ListViewSalesInvoices.ascx"/>


        <!-- Settings -->
        <!-- Settings:Buyer -->
        <add tagPrefix="uc" tagName="UCVendorsForm" src="~/App_UserControls/Settings/VendorsForm.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsFormBuyers" src="~/App_UserControls/Settings/Forms/FormBuyers/SettingsFormBuyers.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsListViewVendors" src="~/App_UserControls/Settings/ListViews/Vendors/SettingsListViewVendors.ascx"/>
        <!-- Settings:Models -->
        <add tagPrefix="uc" tagName="UCManufacturersForm" src="~/App_UserControls/Settings/ManufacturersForm.ascx"/>
        <!-- Settings:Companies -->
        <add tagPrefix="uc" tagName="UCCompaniesForm" src="~/App_UserControls/Settings/CompaniesForm.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsFormCompanies" src="~/App_UserControls/Settings/Forms/FormCompanies/SettingsFormCompanies.ascx"/>

        <!-- Settings:Settings -->
        <add tagPrefix="uc" tagName="UCSettingsForm" src="~/App_UserControls/Settings/Forms/FormSettings/SettingsFormSettings.ascx"/>
        <!-- Settings:Email -->
        <add tagPrefix="uc" tagName="UCSettingsEmail" src="~/App_UserControls/Settings/Forms/FormEmail/SettingsFormEmail.ascx"/>
        <!-- Reports -->
        <add tagPrefix="uc" tagName="TextFileFrance" src="~/App_UserControls/Reports/OutputFileFrance/FileFrance.ascx"/>
        <!-- Reports: Tax Spain -->
        <add tagPrefix="uc" tagName="TextFileSpain" src="~/App_UserControls/Reports/OutputFileSpain/FileSpain.ascx"/>
        <add tagPrefix="uc" tagName="TaxFormSpain" src="~/App_UserControls/Reports/FormTaxSpain/FormTaxSpain.ascx"/>
        <add tagPrefix="uc" tagName="TaxSpain" src="~/App_UserControls/Reports/TaxSpain.ascx"/>
        <add tagPrefix="uc" tagName="TaxFileUpload" src="~/App_UserControls/Reports/FormTaxUpload/FileUploadTax.ascx"/>
        <add tagPrefix="uc" tagName="FTPForm" src="~/App_UserControls/Reports/FTP/FTPForm.ascx"/>
        <add tagPrefix="uc" tagName="UCFleetDashboardForm" src="~/App_UserControls/Reports/FleetDashboardForm.ascx"/>
        <add tagPrefix="uc" tagName="UCOutputFilesForm" src="~/App_UserControls/Reports/OutputFilesForm.ascx"/>
        <add tagPrefix="uc" tagName="UCListViewReports" src="~/App_UserControls/Reports/ListViewReports.ascx"/>
        <!-- Users -->
        <add tagPrefix="uc" tagName="UCUsersForm" src="~/App_UserControls/Settings/UsersForm.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsFormUsers" src="~/App_UserControls/Settings/Forms/FormUsers/SettingsFormUsers.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsListViewUsers" src="~/App_UserControls/Settings/ListViews/Users/SettingsListViewUsers.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsListViewManufacturers" src="~/App_UserControls/Settings/ListViews/Manufacturers/SettingsListViewManufacturers.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsListViewModels" src="~/App_UserControls/Settings/ListViews/Models/SettingsListViewModels.ascx"/>
        <add tagPrefix="uc" tagName="UCSettingsListViewCompanies" src="~/App_UserControls/Settings/ListViews/Companies/SettingsListViewCompanies.ascx"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <siteMap defaultProvider="RibbonApplication" enabled="true">
      <providers>
        <!-- Application Menu -->
        <add name="RibbonApplication" type="RAD.Settings.RibbonApplication" connectionStringName="RAD.Properties.Settings.ApplicationDataBase"/>
      </providers>
    </siteMap>
  </system.web>
  <applicationSettings>
    <APP.Properties.Settings>
      <setting name="ApplicationName" serializeAs="String">
        <value>EFSS</value>
      </setting>
      <setting name="SupportEmailAddress" serializeAs="String">
        <value>jmartinezpavon@hertz.com</value>
      </setting>
      <setting name="ApplicationEmailAddress" serializeAs="String">
        <value>itservicedesk@hertz.com</value>
      </setting>
      <setting name="ApplicationStartYear" serializeAs="String">
        <value>2011</value>
      </setting>
      <setting name="ApplicationReportServerFolder" serializeAs="String">
        <value>/hefs/</value>
      </setting>
      <setting name="HelpDesk" serializeAs="String">
        <value>itservicedesk@hertz.com</value>
      </setting>
      <setting name="ManualInvoicesPath" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\Manual Invoices\Serials.xlsx</value>
      </setting>
      <setting name="ManualInvoicesPathFolder" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\Manual Invoices\</value>
      </setting>
      <setting name="FleetCashTargetPath" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\Fleet Cash\Cash_Targets.xlsx</value>
      </setting>
      <setting name="FleetCashTargetPathFolder" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\Fleet Cash\</value>
      </setting>
      <setting name="InvoiceUK" serializeAs="String">
        <value>InvoiceUK</value>
      </setting>
      <setting name="InvoiceBE" serializeAs="String">
        <value>InvoiceBE</value>
      </setting>
      <setting name="InvoiceSZ" serializeAs="String">
        <value>InvoiceSZ</value>
      </setting>
      <setting name="InvoiceGE" serializeAs="String">
        <value>InvoiceGE</value>
      </setting>
      <setting name="InvoiceNE" serializeAs="String">
        <value>InvoiceNE</value>
      </setting>
      <setting name="InvoiceFR" serializeAs="String">
        <value>InvoiceFR</value>
      </setting>
      <setting name="InvoiceLU" serializeAs="String">
        <value>InvoiceLU</value>
      </setting>
      <setting name="InvoiceSP" serializeAs="String">
        <value>InvoiceSP</value>
      </setting>
      <setting name="InvoiceIT" serializeAs="String">
        <value>InvoiceIT</value>
      </setting>
      <setting name="FleetCashTargetPath97" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\Fleet Cash\CashTargets.xls</value>
      </setting>
      <setting name="ReportFleetCashReport" serializeAs="String">
        <value>ReportFleetCash</value>
      </setting>
      <setting name="ReportDashboard" serializeAs="String">
        <value>ReportDashboard</value>
      </setting>
      <setting name="TaxFileSP" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\Tax Files\20130883247200038897[1].020811.NRC.1.DEV</value>
      </setting>
      <setting name="EmailVBScript" serializeAs="String">
        <value>~/App_Files/SendEmail.vbs</value>
      </setting>
      <setting name="MatriculationPath" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\Tax Files\MATRICULACIONES-IM PARA GFLOTA.xlsx</value>
      </setting>
      <setting name="AttachmentExcelPath" serializeAs="String">
        <value>~/App_Files/EmailAttachments/InvoicesExcel.xls</value>
      </setting>
      <setting name="AttachmentPDFPath" serializeAs="String">
        <value>~/App_Files/EmailAttachments/InvoicesPDF.pdf</value>
      </setting>
      <setting name="InvoiceNETransport" serializeAs="String">
        <value>InvoiceNETransport</value>
      </setting>
      <setting name="AttacmentsNETransport" serializeAs="String">
        <value>~/App_Files/EmailAttachments/InvoiceTransport.pdf</value>
      </setting>
      <setting name="EmailAttachmentsPath" serializeAs="String">
        <value>~/App_Files/EmailAttachments/</value>
      </setting>
      <setting name="FileNameExcelAttachment" serializeAs="String">
        <value>InvoicesExcel.xls</value>
      </setting>
      <setting name="FileNamePDFAttachment" serializeAs="String">
        <value>InvoicesPDF.pdf</value>
      </setting>
      <setting name="FileNamePDFTransport" serializeAs="String">
        <value>InvoiceTransport.pdf</value>
      </setting>
      <setting name="FTP_Filename" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\FTP Client\FTP_Me.bat</value>
      </setting>
      <setting name="FTP_Script" serializeAs="String">
        <value>FTP_Script.txt</value>
      </setting>
      <setting name="FTP_Script_FileName" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\FTP Client\FTP_Script.txt</value>
      </setting>
      <setting name="FTP_Path" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\Downloads\FTP Client\</value>
      </setting>
      <setting name="FTP_EFSS" serializeAs="String">
        <value>\\hescft02\D$\FleetVisionImport</value>
      </setting>
      <setting name="FTP_Files_Path" serializeAs="String">
        <value>\\hescfs05\Finance\Financial Operations\Fleet Accounting\EFSS FTP Files\Upload\</value>
      </setting>
      <setting name="SalesFileName" serializeAs="String">
        <value>Sales.txt</value>
      </setting>
      <setting name="BuyersFileName" serializeAs="String">
        <value>Buyers.txt</value>
      </setting>
      <setting name="ModelsFileName" serializeAs="String">
        <value>Models.txt</value>
      </setting>
      <setting name="DashboardFileName" serializeAs="String">
        <value>Dashboard.txt</value>
      </setting>
      <setting name="FleetDayFileName" serializeAs="String">
        <value>FleetDay.txt</value>
      </setting>
      <setting name="FleetMonthFileName" serializeAs="String">
        <value>FleetMonth.txt</value>
      </setting>
      <setting name="YearAddsFileName" serializeAs="String">
        <value>YearAdds.txt</value>
      </setting>
      <setting name="DayAddsFileName" serializeAs="String">
        <value>DayAdds.txt</value>
      </setting>
      <setting name="YearDelsFileName" serializeAs="String">
        <value>YearDels.txt</value>
      </setting>
      <setting name="DayDelsFileName" serializeAs="String">
        <value>DayDels.txt</value>
      </setting>
      <setting name="FTPFolder" serializeAs="String">
        <value>\\hescft02\FleetVisionImport\</value>
      </setting>
      <setting name="DTSSales" serializeAs="String">
        <value>\\hescrad2\i$\EuropeanFleetSalesSystem\SSIS packages repository\EFSS\ImportSales.dtsx</value>
      </setting>
      <setting name="CreditNotesFileName" serializeAs="String">
        <value>CreditNotes.txt</value>
      </setting>
      <setting name="ReportServerRadReports" serializeAs="String">
        <value>http://radreports.hertz.com/ReportServer</value>
      </setting>
      <setting name="ReportFolder" serializeAs="String">
        <value>/EFSS-Reports/</value>
      </setting>
    </APP.Properties.Settings>
    <RAD.Properties.Settings>
      <setting name="RibbonApplication" serializeAs="String">
        <value>proc_Controls_MenuSelect</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value>D3BCCE83-0BB2-4E9E-A51B-6C5A214C064A</value>
      </setting>
    </RAD.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
</configuration>